[[source]]
name = "pypi"
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-dotenv = "*"
flask = "*"
flask-moment = "*"
flask-ckeditor = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
bootstrap-flask = "*"
flask-wtf = "*"
psycopg2 = "*"
faker = "*"

[requires]
python_version = "3.6"
